[Unit]
Description=Get Temps
After=multi-user.target

[Service]
Type=Idle
ExecStart=/usr/bin/python3 /home/pi/oneWireTemps/getTemps.py 
Restart=always

[Install]
WantedBy=multi-user.target

