[Unit]
Description=Get SHT Temp and Humidity
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/oneWireTemps/sht30test.py 
Restart=always
RestartSec=10
StartLimitInterval=120
StartLimitBurst=10
User=pi

[Install]
WantedBy=multi-user.target
