[Unit]
Description=Get Weather
After=multi-user.target

[Service]
Type=Idle
ExecStart=/usr/bin/python3 /home/pi/oneWireTemps/getWeather.py &
Restart=always
RestartSec=10
StartLimitInterval=120
StartLimitBurst=10
User=pi


[Install]
WantedBy=multi-user.target
